- name: Download Kafka
  get_url:
    url: https://downloads.apache.org/kafka/3.7.0/kafka_2.13-3.7.0.tgz
    dest: /opt/kafka.tgz

- name: Extract Kafka
  unarchive:
    src: /opt/kafka.tgz
    dest: /opt/
    remote_src: yes

- name: Configure Kafka
  template:
    src: server.properties.j2
    dest: /opt/kafka_2.13-3.7.0/config/server.properties

- name: Start Kafka
  shell: |
    nohup /opt/kafka_2.13-3.7.0/bin/kafka-server-start.sh \
    /opt/kafka_2.13-3.7.0/config/server.properties &
