version: "3.8"

services:
  kafka1:
    build: .
    container_name: kafka1
    hostname: kafka1
    privileged: true
    ports:
      - "22201:22"
      - "19092:19092"
    volumes:
      - kafka1-data:/var/lib/kafka

  kafka2:
    build: .
    container_name: kafka2
    hostname: kafka2
    privileged: true
    ports:
      - "22202:22"
      - "19093:19093"
    volumes:
      - kafka2-data:/var/lib/kafka

  kafka3:
    build: .
    container_name: kafka3
    hostname: kafka3
    privileged: true
    ports:
      - "22203:22"
      - "19094:19094"
    volumes:
      - kafka3-data:/var/lib/kafka

  akhq:
    image: tchiotludo/akhq:latest
    container_name: akhq
    ports:
      - "8080:8080"
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            kafka-cluster:
              properties:
                bootstrap.servers: "kafka1:9092,kafka2:9092,kafka3:9092"
    depends_on:
      - kafka1
      - kafka2
      - kafka3

volumes:
  kafka1-data:
  kafka2-data:
  kafka3-data:
